this is the login component

<div class="main" *ngIf="first" >
  <p> everyone this is my first website in this laptop</p>
  <ul *ngFor="let value of items">
    <li>{{ value.name }}</li>
    <li>{{ value.phonenumber }}</li>
    <li>{{ value.email }}</li>
  </ul>
</div>


<button type="submit" class="btn btn-primary">Submit</button>